export(addRow)
export(clearModel)
export(closeModel)
export(drawRows)
export(endSession)
export(getModel)
export(getRemoteChartUrl)
export(getRow)
export(listModels)
export(openModel)
export(startSession)
export(undoModel)
export(viewModel)
import(httr)
import(jsonlite)
import(lubridate)
import(xts)
import(rhandsontable)
import(DT)
importFrom("stats", "runif")
importFrom("utils", "View", "browseURL")